<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Bienvenue sur la billetterie du musée du Louvre!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <!-- Font Awesome and Pixeden Icon Stroke icon fonts-->
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/pe-icon-7-stroke.css') }}">
    <!-- Google fonts - Roboto-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{{ asset('css/style.default.css') }}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <!-- Datepicker-->
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.css') }}">
</head>
<body>
<header class="header">
    <div role="navigation" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header"><a href="#" class="navbar-brand">Musée du louvre</a>
                <div class="navbar-buttons">
                    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
                </div>
            </div>
            <div id="navigation" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                </ul><a href="http://www.louvre.fr" class="btn navbar-btn btn-ghost"><i class="fa fa-sign-in"></i>Retour sur le site</a>
            </div>
        </div>
    </div>
</header>

<div class="jumbotron main-jumbotron">
    <div class="container">
        <div class="content">
            <h1>Réservation des billets</h1>
            <p class="margin-bottom">Commander directement vos billets !</p>
            <p><a class="btn btn-white" data-toggle="modal" data-target="#tarif-modal">Voir les tarifs</a></p>
        </div>
    </div>
</div>

<!-- *** TAFIF MODAL ***_________________________________________________________
    -->
<div id="tarif-modal" tabindex="-1" role="dialog" aria-labelledby="Tarif" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                <h4 id="Tarif" class="modal-title text-center">Liste des tarifs</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">
                <ul>
                    <li>Tarif « normal » à partir de 12 ans à <strong>16 €</strong></li>
                    <li>Tarif « enfant » à partir de 4 ans et jusqu’à 12 ans, à <strong>8 €</strong> (l’entrée est gratuite pour les enfants de moins de 4 ans)</li>
                    <li>Tarif « senior » à partir de 60 ans pour <strong>12  €</strong></li>
                    <li>Tarif « réduit » de <strong>10 €</strong> accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…)</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- *** TARIF MODAL END ***-->

{% block body %}{% endblock %}
<!-- Javascript files-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery.cookie.js') }}"> </script>
<script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('locales/bootstrap-datepicker.fr.min.js') }}"></script>
<script src="{{ asset('js/app.js') }}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>

{% block javascripts %}{% endblock %}
</body>
</html>
