{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">

                  {{ form_start(form) }}

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            {% for message in app.session.flashbag.get('error') %}
                                <div class="alert alert-danger">{{message}}</div>
                            {% endfor %}
                        </div>
                        <!-- Start col-md-12 -->
                        <div class="col-md-10 col-md-offset-1 " id="informations">

                            <div id="info-booking" class="col-md-12 dc">

                                <div class="col-md-3">

                                    <h3>Date de la visite</h3>

                                    <div class="form-group">
                                        {{ form_widget(form.dateVisite, {'attr': {'class': 'input-group form-control date'}}) }}
                                    </div>

                                </div>

                                <div class="col-md-3">

                                    <h3>Durée de la visite</h3>

                                    <div class="form-group">
                                        {{ form_widget(form.periode, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                </div>

                                <div class="col-md-3">

                                    <h3>Nombre de billet</h3>
                                    <div class="form-group">
                                        {{ form_widget(form.nombreBillet, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                </div>

                                <div class="col-md-3">

                                    <h3>Votre email</h3>
                                    <div class="form-group">
                                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <button type="submit" name="save" class="btn btn-primary">Envoyer</button>

                                </div>

                            </div>

                            <div id="recap"></div>

                        </div>

                        {{ form_end(form) }}

                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1" id="nextBooking">

                            <span id="error"></span>
                            <div id="info-visitor"></div>

                        </div>
                    </div>


            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        // Date de fermeture
        var disableddates = [
            "01-05-2016",
            "01-11-2016",
            "25-12-2016",
            "01-05-2017",
            "01-11-2017",
            "25-12-2017"
        ];

        $('.container .input-group.date').datepicker({
            language: 'fr',
            format: 'dd/mm/yyyy',
            daysOfWeekDisabled: "2", // Fermeture le mardi
            startDate: "today",
            todayBtn: "linked",
            datesDisabled: disableddates
        });

        $('.date-anniversaire').datepicker({
            language: 'fr',
            todayBtn: "linked"
        });
    </script>
{% endblock %}